.root {
    -fx-font-size: 14pt;
}

#TodayToDo {
}

#TodayToDo #header {
    -fx-text-fill: #000080;
    -fx-font-size: 18pt;
    -fx-padding: 3 0 3 5;
}

#TodayToDo .tool-bar {
    -fx-padding: 3 10 5 8;
    -fx-spacing: 3;
}

#TodayToDo .tool-bar .button {
    -fx-padding: 8 8 5 8;
}

#TodayToDo #addButton {
    -fx-graphic: url('../images/add_24.png');
}

#TodayToDo #startButton {
    -fx-graphic: url('../images/clock_play_24.png');
}

#TodayToDo #doneButton {
    -fx-graphic: url('../images/accept_24.png');
}

#TodayToDo #rejectButton {
    -fx-graphic: url('../images/cancel_24.png');
}

#TodayToDo #pendingButton {
    -fx-graphic: url('../images/hand_24.png');
}
